<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <title>O {{name}} vai na DevPR Conf 2023 e você?</title>

    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@devparana' />
    <meta name='twitter:creator' content='@guiseek' />
    <meta property='og:url' content='https://devpr.org/#/{{login}}/' />
    <meta
      property='og:title'
      content='O {{name}} vai na DevPR Conf 2023 e você?'
    />
    <meta
      property='og:description'
      content='Conferência anual de e para pessoas desenvolvedoras, faça porte da comunidade neste evento.'
    />
    <meta property='og:image' content='https://api.devpr.org/{{login}}' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <img src='/assets/{{login}}.webp' />
  </body>
</html>